---
name: "bazel build"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: recursive
          persist-credentials: false
      - name: Mount bazel cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: "~/.cache/bazel"
          key: bazel-${{ runner.os }}-build-${{ hashFiles('**/*.bzl', '**/*.bazel') }}
          restore-keys: |
            bazel-${{ runner.os }}-build-
      - name: Build
        run: bazel build //...
      - name: Test
        run: bazel test //...
